.note-preview {
    display: block;
    width: 100%;
    height: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    break-inside: avoid;
    transition: box-shadow .3s ease-in-out;
    margin-bottom: 1em;
    text-decoration: none;

    &:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);

        // .card-btns {
        //     opacity: 1;
        // }
    }
}