.btns {
    container-type: inline-size;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 2.5em;
    padding-bottom: 2px;

    button {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        position: relative;
        transition: opacity .3s ease-in-out;
        background: inherit;
        border: none;
        border-radius: 50%;
        width: 2.5em;
     
        fill: rgb(32, 33, 36);
        padding: 0;

        svg {
            width: 1.1rem;
            height: 1.1rem;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(224, 227, 229, 0.3);
        }
    }

}

@container (max-width: 450px) {
    .hide-on-small {
        display: none !important;
    }
}