<li *ngIf="mode==='preview'" class="note-preview" [style.background-color]="note.bgc">
  <button [ngClass]="{pinned:note.isPinned}" class="pinned-btn" (click)="setPinned($event)">
    <pinned-svg *ngIf="!note.isPinned"></pinned-svg>
    <pinned-full-svg *ngIf="note.isPinned"></pinned-full-svg>
  </button>
  <a [routerLink]="['/note/edit',note._id]">
    <ng-container *ngIf="note.imgs"></ng-container>
    <img *ngFor=" let img of note.imgs " src="{{img}}">
    <ng-template #noteEditContainer></ng-template>
  </a>
  <buttons #btns></buttons>
</li>

<section modal (clickOutside)="onBack()" *ngIf="mode!=='preview'" class="note-modal" [ngClass]="{modal:isModal,newNote:!isModal}" [style.background-color]="note.bgc">
  <button [ngClass]="{pinned:note.isPinned}" class="pinned-btn" (click)="setPinned($event)">
    <pinned-svg *ngIf="!note.isPinned"></pinned-svg>
    <pinned-full-svg *ngIf="note.isPinned"></pinned-full-svg>
  </button>
  <ng-template #noteEditContainer></ng-template>
  <buttons  (note)="note" #btns></buttons>
  <button (click)="onBack()"></button>
</section>