<div note-buttons [note]=note class="btns">
  <button title="reminder" data-action="test">
    <reminder-svg></reminder-svg>
  </button>
  <button (click)="setColorOpen(true)" title="color pick" data-action="test">
    <color-svg></color-svg>
  </button>
  <button title="image upload" (click)="fileUpload.click()">
    <input type="file" hidden note-buttons #fileUpload>
    <upload-image-svg></upload-image-svg>
  </button>
  <button title="archive">
    <archive-svg></archive-svg>
  </button>
  <button title="delete" data-action="remove">
    <trash-svg></trash-svg>
  </button>
  <!-- <button>
    <dots-svg></dots-svg>
  </button> -->
  <button title="undo" class="hide-on-small">
    <undo-svg></undo-svg>
  </button>
  <button title="redo" class="hide-on-small">
    <undo-svg style="transform: scaleX(-1);"></undo-svg>
  </button>
  <button class="hide-on-small" title="close" data-action="close">Close</button>
</div>

<div class="color-options" appDragScroll modal (clickOutside)="setColorOpen(false)" *ngIf="isColorOpen">
  <button *ngFor="let color of colors" class="color-option" [ngStyle]="{'background-color': color}" data-action="color"></button>
</div>