<div [ngClass]="{'hover':isHovered}" class="btns">
  <button>
    <reminder-svg></reminder-svg>
  </button>
  <color-modal (setColor)="onChangeColor($event)" [ngClass]="{'hover':isHovered}"></color-modal>
  <button>
    <upload-image-svg></upload-image-svg>
  </button>
  <button>
    <archive-svg></archive-svg>
  </button>
  <button>
    <dots-svg></dots-svg>
  </button>
  <button class="hide-on-small">
    <undo-svg></undo-svg>
  </button>
  <button class="hide-on-small">
    <undo-svg style="transform: scaleX(-1);"></undo-svg>
  </button>
  <button class="hide-on-small" (click)="onClose()">Close</button>
</div>