.btns {
    display: flex;
    justify-content: space-around;
    padding-bottom: 12px;


    button {
        opacity: 0;
        transition: opacity .3s ease-in-out;
        background: inherit;
        border: none;
        width: 1.1rem;
        height: 1.1rem;
        fill: rgb(52, 54, 57);

    }

}

.hover {
    button {

        opacity: 1;
    }
}
