.icon-hamburger {
    cursor: pointer;
    width: 2em;
    object-fit: scale-down;
}

.icon-hamburger .line {
    transition: transform 0.4s ease, opacity 0.2s ease;
}

.icon-hamburger.toggled .top {
    transform: translateY(-18px) translateX(40px) rotate(45deg);
}

.icon-hamburger.toggled .middle {
    opacity: 0;
}

.icon-hamburger.toggled .bottom {
    transform: translateY(30px) translateX(-30px) rotate(-45deg);
}