/* You can add global styles to this file, and also import other style files */



html,
body {
    height: 100%;
    font-family: Roboto, Arial, sans-serif;

}

body:has(.modal) {
    :not(.modal, .modal *) {
        pointer-events: none;
    }
}

body {
    margin: 0;
    height: 100vh;
}

li {

    list-style: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: auto;
}

