/* You can add global styles to this file, and also import other style files */



html,
body {
    height: 100%;
    font-family: Roboto, Arial, sans-serif;

}

body:has(.modal) {

    .modal,
    .modal * {
        pointer-events: all;
    }

    :not(.modal, .modal *) {
        pointer-events: none;
    }
}

body {
    margin: 0;
    height: 100vh;
}

li {

    list-style: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: auto;
}

.note-modal,
.note-preview {

    &:hover,
    &:focus {

        .btns,
        .pinned-btn {
            opacity: 1;
        }
    }
}

.modal {

    .btns,
    .pinned-btn {
        opacity: 1 !important;

    }
}

.filter {
    display: flex;
    height: 3rem;
    background-color: rgb(241, 243, 244);
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;


    input {
        background-color: inherit;
        border: none;

        &:focus-visible {
            background-color: #fff;
            outline: none;
            box-shadow: 0 1px 1px 0 rgba(65, 69, 73, .3), 0 1px 3px 1px rgba(65, 69, 73, .15);

            .filter {
                background-color: #fff;
            }
        }
    }
}